/* Ajustes para centrar el contenido */
html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "SF Pro Display", -apple-system, BlinkMacSystemFont, "Helvetica", sans-serif;
}

/* Ajustes para centrar el contenido */
.centradoGlobal {
    width: 100%;
    max-width: 1264px; 
    margin-left: auto; 
    margin-right: auto; 
    padding-left: 16px; 
    padding-right: 16px; 
}

.see {
    background-color: red;
}

.see2 {
    background-color: gold;
}

h4 {
    font-size: 19px;
    letter-spacing: -0.002em;
    margin-bottom: -10px;
}

/* ------------Estilos hero--------------- */
.hero {
    text-align: center;
}

.hero_image{
    width: 100%; /* La imagen ocupa el 100% de ancho de su contenedor */
    max-width: 1106px; /* Un ancho maximo para pantallas grandes */
    height: auto; /* Altura en automatico */
    margin: 46px auto 0; /* Alineacion de la imagen dentro del hero */
}

/* Posicionamiento de la sección de la descripción */
.hero_description {
    width: 100%;
    border-top: #fef8f7 2px solid;
    padding-top: 100px;
    padding-bottom: 80px;
    margin: 40px auto 0;
}

/* Estilos del texto */
.hero_description p {
    margin: 0;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    line-height: 1.48;
}

/* Estilos del botón */
.hero_description a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
    width: 141px;
    height: 40px;
    padding-left: 4px;
    font-size: 14px;
    font-weight: 500;
    color: #ff4169;
    background-color: #fff;
    letter-spacing: -0.02em;
    border: 1px solid #ff4169;
    border-radius: 30px;
    cursor: pointer;
    text-decoration: none;
    transition: border-color 130ms ease-in-out, color 130ms ease-in-out, background-color 130ms ease-in-out;
}

.hero_description a:hover {
    color: #fff;
    background-color: #ff6482;
    border-color: #ff6482;
}

.buy-try-buttons__item-icon {
    margin-left: 5px;
}

/* Para ponerle el color al SVG */
.buy-try-buttons__item-icon path {
    fill: currentColor;
}

/* ------------------------------------------- */

/* --------------Estilos draw----------------- */
.draw-section {
    padding: 30px 0 100px;
    color: #f5f5f7;
    text-align: center;
    background-color: #000000;
}

.draw-section h2 {
    max-width: 750px;
    margin-right: auto;
    margin-left: auto;
    font-size: 56px;
    line-height: 1;
    letter-spacing: -0.02em;
}

.draw-section p {
    max-width: 680px;
    margin-top: 23px;
    margin-right: auto;
    margin-left: auto;
    font-size: 20px;
    line-height: 1.45;
    letter-spacing: -0.001em;
    opacity: .7;
}

.draw-section2 {
    padding: 30px 0 30px;
    color: #f5f5f7;
    text-align: center;
    background-color: #000000;
}

.draw-section2 h2 {
    max-width: 700px;
    margin-right: auto;
    margin-left: auto;
    font-size: 56px;
    line-height: 1;
    letter-spacing: -0.02em;
}

.draw-section2 p {
    max-width: 690px;
    margin-top: 23px;
    margin-right: auto;
    margin-left: auto;
    font-size: 20px;
    line-height: 1.45;
    letter-spacing: -0.001em;
    opacity: .7;
}

.draw-section2 ul {
    max-width: 900px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 100px;
    list-style: none;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    row-gap: 50px;
}

.draw-section2 li {
    box-sizing: border-box;
    width: calc(50% - 100px);
}

.draw-section2 a {
    display: inline-block;
    color: #026fc9;
    font-size: 20px;
    text-decoration: none;
    transition: color 130ms ease-in-out;
}

.draw-section2 a:hover {
    color: #358cd4;
}

.artwork {
    box-sizing: border-box;
    width: 100%;
    max-width: 1280px;
    margin-top: 10px;
    margin-bottom: 8px;
    margin-right: auto;
    margin-left: auto;
}

.cards-div {
    display: flex;
    flex-wrap: wrap;
    max-width: 896px;
    margin-right: auto;
    margin-left: auto;
    gap: 30px;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: #1d1c1f;
    width: calc(50% - 15px);
    border-radius: 20px;
}

.card3 {
    display: flex;
    flex-direction: row;
    background-color: #1d1c1f;
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
}

.card-texto {
    display: block;
    box-sizing: border-box;
    padding: 50px;
    padding-top: 30px;
    text-align: left;
}

.card-texto p {
    opacity: .77;
    font-size: 17px;
    line-height: 1.45;
    letter-spacing: -0.002em;
}

.card-img {
    box-sizing: border-box;
    width: 100%;
    padding: 20px 50px 0;
    margin-bottom: -2px;
    text-align: left;
}

.card-img img {
    width: 100%;
    max-width: 306px;
    height: auto;
}

.card-img2 {
    box-sizing: border-box;
    width: 100%;
    padding: 0 50px 0;
    text-align: left;
}

.card-img2 img {
    width: 100%;
    max-width: 84px;
    height: auto;
}

/* ------------------------------------------- */

/* --------Estilos Magically get rid---------- */

.magetrid-section {
    padding-bottom: 70px;
    text-align: center;
    width: 100%;
}

.magetrid-section h2 {
    margin-right: auto;
    margin-left: auto;
    max-width: 680px;
    font-size: 60px;
    line-height: 1;
    letter-spacing: -0.02em;
}

.magetrid-section p {
    margin-top: -20px;
    margin-bottom: 40px;
    margin-right: auto;
    margin-left: auto;
    max-width: 710px;
    font-size: 20px;
    line-height: 1.45;
    letter-spacing: .001em;
    color: #333333;
}

.magetrid-section video {
    border-radius: 20px;
}

/* ------------------------------------------- */